@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Role Details";
}
<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Back To List", "Index", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })

    </p>
</div>
<section id="about" name="about"></section>
<div class="container about">
    <div class="col-lg-6 col-lg-offset-3">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
      

        <table class="table">
            <tr>
                <th>
                   Email
                </th>
            </tr>
            @foreach (var item in ViewBag.Users)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



