@model IEnumerable<FSDP.DATA.EF.ApplicationStatu>

@{
    ViewBag.Title = "Application Status Home";
}
@if (User.IsInRole("Employee"))
{
    <div style="text-align:center">
        <h2>@ViewBag.Title</h2>

    </div>
    <section id="about" name="about"></section>
    <div class="container about">
        <div class="col-lg-6 col-lg-offset-3">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusDescription)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusDescription)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationStatusId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ApplicationStatusId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationStatusId })
                            </td>*@
                    </tr>
                }

            </table>
        </div>
    </div>
}