@model FSDP.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Delete User";
}

<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Back To List", "Index", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
</div>
<section id="about" name="about"></section>
<div class="container about">
    <div class="col-lg-6 col-lg-offset-3">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
 
            </div>
        }
    </div>
</div>
