@model IEnumerable<FSDP.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Application User";
}

<div style="text-align:center" class="padding">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="displayTable" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                        Modify
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id}, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
                        </td>
                    </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#displayTable').DataTable({

                paging: false

            });
        });

    </script>
}
