@model FSDP.DATA.EF.Location

@{
    ViewBag.Title = "Delete Location";
}

<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Back To List", "Index", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
</div>
<section id="about" name="about"></section>
<div class="container about">
    <div class="col-lg-6 col-lg-offset-3">

        <div>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserDetail.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StoreNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StoreNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <br />
                <dd>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" />

                        </div>
                    }
                </dd>

            </dl>

           
        </div>
    </div>
</div>