@model FSDP.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Edit Open Positions";
}
@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
{
    <div style="text-align:center">
        <h2>@ViewBag.Title</h2>
        <div>
            @Html.ActionLink("Back To List", "Index", null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })

        </div>
    </div>
    <section id="about" name="about"></section>
    <div class="container about">
        <div class="col-lg-6 col-lg-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.OpenPositionId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.PositionId, "Position", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PositionId", null, string.Empty, htmlAttributes: new { @class = "form-control1 form-control" })
                            @Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LocationId, "Store Number", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("LocationId", null, string.Empty, htmlAttributes: new { @class = "form-control1 form-control" })
                            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
